@model List<ASPCrud.Models.Domain.Employee>

@{
}

<h1>Employees</h1>

<!-- Table to display the list of employees -->
<table class="table">
    <thead>
        <tr>
            <!-- Table headers for employee attributes -->
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th>Date Of Birth</th>
            <th>Department</th>
            <th> </th> <!-- Empty header for the "View" link column -->
        </tr>
    </thead>
    <tbody>
        <!-- Loop through the employee list in the model -->
        @foreach (var employee in Model)
        {
            <tr>
                <!-- Display each employee's details in a table row -->
                <td>@employee.Id</td> <!-- Employee ID -->
                <td>@employee.Name</td> <!-- Employee Name -->
                <td>@employee.Email</td> <!-- Employee Email -->
                <td>@employee.Salary</td> <!-- Employee Salary -->
                <td>@employee.DateOfBirth.ToString("dd-MM-yyyy")</td> <!-- Employee Date of Birth in "dd-MM-yyyy" format -->
                <td>@employee.Department</td> <!-- Employee Department -->
                <!-- Link to view detailed employee information -->
                <td><a href="Employees/View/@employee.Id">View</a></td>
            </tr>
        }
    </tbody>
</table>
